In [19]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [1]:

#series

4

In [7]:
my_series=[4,5,2,4,2]
my_var=pd.Series(my_series)
print(my_var)

0    4
1    5
2    2
3    4
4    2
dtype: int64

In [8]:
print(my_var[1])

5

In [11]:
my_index=['a','b','c','d','e']
myvar2=pd.Series(my_series,my_index)
print(myvar2)

a    4
b    5
c    2
d    4
e    2
dtype: int64

In [14]:
print(myvar2['b'])
print(myvar2['b'])

5
5

In [18]:
mydict={"name":"hammad","age":23}
myseries2=pd.Series(mydict)
print(myseries2)

name    hammad
age         23
dtype: object

In [ ]:
#Data Frames
my_data=randn(4,3) #rows, cols
my_rows=["A","B","C","D"]
mycols=["MON","TUES","WED"]
#create dataframe
mydf=pd.DataFrame(my_data,my_rows,mycols)
mydf

#import csv file
mydf2=pd.read_csv('cus.csv')
mydf2.loc[[0,5]]
mydf2.loc['customer id']