In [19]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [1]:

#series

4

In [7]:
my_series=[4,5,2,4,2]
my_var=pd.Series(my_series)
print(my_var)

0    4
1    5
2    2
3    4
4    2
dtype: int64

In [8]:
print(my_var[1])

5

In [11]:
my_index=['a','b','c','d','e']
myvar2=pd.Series(my_series,my_index)
print(myvar2)

a    4
b    5
c    2
d    4
e    2
dtype: int64

In [14]:
print(myvar2['b'])
print(myvar2['b'])

5
5

In [18]:
mydict={"name":"hammad","age":23}
myseries2=pd.Series(mydict)
print(myseries2)

name    hammad
age         23
dtype: object

In [32]:
#Data Frames
my_data=randn(4,3) #rows, cols
my_rows=["A","B","C","D"]
mycols=["MON","TUES","WED"]
#create dataframe
mydf=pd.DataFrame(my_data,my_rows,mycols)
mydf

#import csv file
mydf2=pd.read_csv('cus.csv')
#pulling data
mydf2.loc[[0,5]]

# pulling data in different ways

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,e685B8690f9fbce,Erik,Little,Blankenship PLC,Caitlynmouth,Sao Tome and Principe,457-542-6899,055.415.2664x5425,shanehester@campbell.org,2021-12-23,https://wagner.com/
5,6,f6bEf85f1c0Ab8C,Madison,Schwartz,Weaver-Carpenter,Ewingside,British Virgin Islands,279-998-9650x1470,001-460-269-6344x185,hmcconnell@wheeler.com,2021-08-05,http://www.mooney.com/